body {background-color: powderblue;
    font-family: 'Roboto',san-serif;}
@media only screen and (max-width:500px){
    body{
        background-color:yellow;
    }
}
@font-face{
    font-family: 'Roboto',san-serif;
}
box {
max-width:400px;
max-height:200px;
margin-top:20px;
padding-top:25px;
border-top: 10p solid blue;
border-bottom: 5p dotted solid black;
}
p.ex1{display: none;}
a:hover{
    color:red
}
b:active{
    color:black
}
.flex-container{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:span 1;

    align-items: baseline;
    justify-content:flex-start;
    flex-flow:column wrap;
    background-color:green
}
.flex-container > inside{
    background-color:white;
    font-size:40px;
}
#one{
    display:inline-block;
    width:50px;
    height:50px;
    background:white;
}
#two{
    position:relative;
    bottom:20px;
    background:black
}
#three{
    position:absolute;
    top:20px;
    background:blueviolet
}
div.a{
test-allign: center;
}
h1{
text-decoration: underline;
}
.wrapper{
font-size: 1em;
}
.px{
width: 200px
}
.cm{
width:1cm
}
.mm{
width:10mm
}
.percent{
width:50%
}


box2 {
height:400px;
width:200px;
margin: 10p 5p 10p 5p;
padding: 5p 10p 5p 10p;
border-width: 10px;
border-radius: 50px;
}
.ems li{
font-size: 1.3em;
}
.rems li{
font-size: 1.3rem;
}
p.ex2{display: block;}
/*complete*/